In [11]:
### 1. Import pandas and read the data into a DataFrame. Print the first 5 rows of the DataFrame
import pandas as pd
df = pd.read_csv('padas_question.csv')
print(data.head())

      Name  Gender  Age  Height (cm)  Weight (kg)         City
0    Alice  Female   25          165           58     New York
1      Bob    Male   30          180           80  Los Angeles
2  Charlie    Male   35          175           70      Chicago
3    Diana  Female   28          170           65        Miami
4      Eva  Female   27          175           60     New York

In [12]:
###Print the number of rows and columns in the DataFrame.
print("Number of rows:", data.shape[0])
print("Number of columns:", data.shape[1])

Number of rows: 10
Number of columns: 6

In [13]:
### Print the null value count
# Counting null values in each column
null_counts = data.isnull().sum()

# Printing null value counts
print("Null value counts:")
print(null_counts)

Null value counts:
Name           0
Gender         0
Age            0
Height (cm)    0
Weight (kg)    0
City           0
dtype: int64

In [14]:
### Print the average age, height, and weight of the people in the DataFrame
# Assuming 'data' is your DataFrame and it contains columns 'age', 'height', and 'weight'
average_age = data['Age'].mean()
average_height = data['Height (cm)'].mean()
average_weight = data['Weight (kg)'].mean()

# Printing the average age, height, and weight
print("Average age:", average_age)
print("Average height:", average_height)
print("Average weight:", average_weight)

Average age: 31.6
Average height: 175.0
Average weight: 68.9

In [15]:
### Print the name and city of the person who is the tallest in the DataFrame
# Assuming 'data' is your DataFrame and it contains columns 'name', 'city', and 'height'
tallest_index = data['Height (cm)'].idxmax()
tallest_person_name = data.loc[tallest_index, 'Name']
tallest_person_city = data.loc[tallest_index, 'City']

# Printing the name and city of the tallest person
print("Name of the tallest person:", tallest_person_name)
print("City of the tallest person:", tallest_person_city)

Name of the tallest person: Frank
City of the tallest person: Houston

In [16]:
###Create a new column in the DataFrame called "BMI" that calculates the body mass index of each person. BMI iscalculated as weight (kg) divided by height (m) squared. Print the DataFrame with the new column.
# Assuming 'data' is your DataFrame and it contains columns 'height' (in meters) and 'weight' (in kilograms)
data['BMI'] = data['Weight (kg)'] / (data['Height (cm)'] ** 2)

# Printing the DataFrame with the new column
print(data)

      Name  Gender  Age  Height (cm)  Weight (kg)         City       BMI
0    Alice  Female   25          165           58     New York  0.002130
1      Bob    Male   30          180           80  Los Angeles  0.002469
2  Charlie    Male   35          175           70      Chicago  0.002286
3    Diana  Female   28          170           65        Miami  0.002249
4      Eva  Female   27          175           60     New York  0.001959
5    Frank    Male   40          190           85      Houston  0.002355
6    Grace  Female   32          168           55      Chicago  0.001949
7    Henry    Male   45          175           75  Los Angeles  0.002449
8      Ivy  Female   26          172           63        Miami  0.002130
9     Jack    Male   28          180           78     New York  0.002407

In [21]:
###  Group the data by gender and print the average age, height, and weight of males and females separately
grouped_data = data.groupby('Gender')
mean_age = grouped_data['Age'].mean()
print(mean_age)
mean_height= grouped_data['Height (cm)'].mean()
print(mean_height)
mean_weight= grouped_data['Weight (kg)'].mean()
print(mean_weight)

Gender
Female    27.6
Male      35.6
Name: Age, dtype: float64
Gender
Female    170.0
Male      180.0
Name: Height (cm), dtype: float64
Gender
Female    60.2
Male      77.6
Name: Weight (kg), dtype: float64

In [23]:
### Sort the data by age in ascending order and print the first 3 rows of the sorted DataFrame.

# Sorting data by age in ascending order
sorted_data = data.sort_values(by='Age')

# Printing the first 3 rows of the sorted DataFrame
print(sorted_data.head(3))

    Name  Gender  Age  Height (cm)  Weight (kg)      City       BMI
0  Alice  Female   25          165           58  New York  0.002130
8    Ivy  Female   26          172           63     Miami  0.002130
4    Eva  Female   27          175           60  New York  0.001959

In [25]:
### Filter the data to only include people who live in New York and print the resulting DataFrame
# Filtering the data to include only people who live in New York
ny_data = data[data['City'] == 'New York']

# Printing the resulting DataFrame
print(ny_data)

    Name  Gender  Age  Height (cm)  Weight (kg)      City       BMI
0  Alice  Female   25          165           58  New York  0.002130
4    Eva  Female   27          175           60  New York  0.001959
9   Jack    Male   28          180           78  New York  0.002407